
<section class="blog-list mtb-40">
    <div class="container">
      <h1>{{title}}</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img1.jpg" alt="blog1" />
            <h3>Sample blog post 1</h3>
            <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img2.jpg" alt="blog1" />
            <h3>Sample blog post 2</h3>
            <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img3.jpg" alt="blog1" />
            <h3>Sample blog post 3</h3>
            <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img4.jpg" alt="blog1" />
            <h3>Sample blog post 4</h3>
            <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img5.jpg" alt="blog1" />
            <h3>Sample blog post 5</h3>
            <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img6.jpg" alt="blog1" />
            <h3>Sample blog post 6</h3>
            <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <a routerLink="/blog/ranjan" class="btn btn-danger">Read more...</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  