<section class="banner">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/images/banners/DDHF1.jpg">
            </div>
            <div class="carousel-item">
                <img src="assets/images/banners/DDHF2.jpg">
            </div>
            <div class="carousel-item">
                <img src="assets/images/banners/DDHF3.jpg">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</section>